# Backend Generator Service Environment Variables
HYPOXIA_MODE=0
# Server configuration
SERVER_ADDR=0.0.0.0
SERVER_PORT=8000

# Sensor credentials (must match config.yaml in backend_main)
SENSOR_ID=4bf1577c-eeda-4c5b-bcd0-fcc01f25f1fe
SENSOR_TOKEN=74QMBHLhnqcB1Q3oYcd8Ns60tvEjoePqT7G44kpSQ8XV9w3XiW6O0nc8yYPAxwe5

# WebSocket connection to main service
WEBSOCKET_ADDR=main
WEBSOCKET_PORT=8000
